/* Sidebar styles */
#sidebar {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;

    color: white;
    transition: all 0.3s ease;
    z-index: 1000;
}

    #sidebar.active {
        left: 0;
    }

    #sidebar ul {
        list-style: none;
        padding: 0;
    }

        #sidebar ul li {
            padding: 15px;
            border-bottom: 1px solid #484e53;
        }

            #sidebar ul li a {
                color: white;
                text-decoration: none;
            }

/* Hamburger button styles */
.hamburger {
    background: none;
    border: none;
    font-size: 24px;
    color: black;
    display: none; /* Hidden by default */
}

/* Show the hamburger icon on small screens */
@media (max-width: 767px) {
    .hamburger {
        display: block;
        
    }

}

/* Hide sidebar on large screens */
@media (min-width: 768px) {
    #sidebar, #hamburger {
        display: none;
        word-wrap : break-word;
    }
}
.navbar.navbar-inverse {
    border: none;
}
.navbar-custom {
    background-color: #2A3132;
    color: #002C54;
}
    .navbar-custom .navbar-brand,
    .navbar-custom .navbar-text {
        color: #90AFC5;
    }
    .navbar .navbar-brand {
        padding-top: 0px;
    }

    .navbar .navbar-brand img {
        height: 50px;
    }

