@model SecureSphere.Models.Client
@{
    ViewData["Title"] = "Create";
}

<h4>Client</h4>
<hr />
<h2 class="text-success"> @ViewBag.msg</h2>
<div class="container mt-4">
    <div class="card shadow-sm">
        <div class="card-body">
            <h1 class="card-title mb-4">Create New Client</h1>
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="alert alert-danger" role="alert"></div>
                <div class="mb-3">
                    <label asp-for="Name" class="form-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <button type="submit" class="btn btn-outline-primary btn-lg active navbar-text text-capitalize fs-6 fw-bold" style="color: #90AFC5">Create</button>
                    <a class="btn btn-outline-danger btn-lg active navbar-text text-capitalize fs-6 fw-bold" style="color: #90AFC5" asp-action="Index">Back to List</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}